.card {
    background: #fff;
    width: 175px;
    box-shadow: 0 3px 6px #228B22, 0 3px 6px #228B22;
    display: inline-block;
    margin: 2% 3% 2% 3%;
    position: static;
}
  
.card > .img-container {
    height: 80%;
    background:#fff;
}

.card > .img-container > img {
    width: 100%;
}

.char-name {
    text-align: center;
    font-size: 75%;
}


@media only screen and (max-width: 600px) {
    .card {
        width: 150px;
    }
}